<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<activePackageSource>
    <add key="Q2" value="https://www.myget.org/F/q2oao/auth/acdd4d07-2764-4fba-a861-84c9de7723ea/api/v2" />
  </activePackageSource>
  <packageSources>
    <add key="Q2" value="https://www.myget.org/F/q2oao/auth/acdd4d07-2764-4fba-a861-84c9de7723ea/api/v2" />
    <add key="xUnit.net" value="https://www.myget.org/F/xunit/api/v2/" />
    <add key="NuGet v2" value="https://www.nuget.org/api/v2" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
</configuration>